.hero {
    background: url('https://via.placeholder.com/1200x600') no-repeat center center/cover;
    text-align: center;
    padding: 140px 0 120px; /* Increase padding to give more space above and below */
    position: relative;
    color: #fff;
    height: 60vh;
    background-size: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hero h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.4rem;
    margin-bottom: 40px;
    font-weight: 300;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
